<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/adminAdditems.css">

    <script src="/js/additems.js"></script>


    <title>관리자 페이지</title>



</head>

<body>

<header class="grid-container-header">
    <div class="top_util">
        <strong>관리자 화면</strong>
        <span> | </span>
        <a href="#">로그아웃</a>

    </div>
    <div class="header_inner">
        <img src="img/log.jpg" alt="포맨토 로고">

        <div class="admin">
            <h1>관리자 페이지</h1>
        </div>

        <div>
            <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-mypage.svg" alt="마이페이지 아이콘">

            <div class="cart1">
                <img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-cart.svg" alt="장바구니">
            </div>
        </div>
    </div>

</header>


<div class="grid-container">
    <aside class="grid-container-aside">
        <div class="admin-list">
            <h3>관리자 목록</h3>

            <ul>
                <li>
                    <a href="#">회원관리</a>
                </li>
                <hr>
                <li>
                    <a href="#">상품등록</a>
                </li>
                <hr>
                <li>
                    <a href="/admin">상품목록</a>
                </li>
                <hr>
                <li>
                    <a href="#">주문내역</a>
                </li>
                <hr>
                <li>
                    <a href="#">게시판</a>
                </li>
            </ul>
        </div>
    </aside>

    <main class="grid-container-main">

        <!--                     enctype="multipart/form-data"-->
        <form method="post"   role="form"    action="/adminAdditems/create"   >

            <!-----------------------------------product Group 파트--------------------->
            <fieldset>
                <legend id="container"><h1>제품 그룹</h1></legend>

                <ul id="add" autocapitalize="off">
                    <div>
                        <li>
                            <label for="productGroupId" >상품그룹 <strong>(필수)</strong></label>
                            <select class="form-contorl" id="productGroupId" name="product_group_id" required>
                                <option value="1" selected>헤어</option>
                                <option value="2">스킨케어</option>
                                <option value="3">마스크팩</option>
                                <option value="4">클렌징</option>
                                <option value="5">썬케어</option>
                            </select>
                        </li>
                    </div>
                    <hr>
                    <div>
                        <li>
                            <label for="categoryDetailId">상품 분류<strong>필수</strong></label>
                            <select class="form-contorl" id="categoryDetailId" name="category_detail_id" required>
                                <option value="1" selected>샴푸/린스</option>
                                <option value="2">트리트먼트/팩</option>
                                <option value="3">헤어에센스</option>
                                <option value="4">염색약/펌</option>
                                <option value="5">헤어기기/브러시</option>
                                <option value="6">스타일링</option>
                                <option value="7">스킨/토너</option>
                                <option value="8">에센스/세럼/앰플</option>
                                <option value="9">크림</option>
                                <option value="10">로션</option>
                                <option value="11">미스트/오일</option>
                                <option value="12">스킨케어세트</option>
                                <option value="13">시트팩</option>
                                <option value="14">패드</option>
                                <option value="15">페이셜팩</option>
                                <option value="16">코팩</option>
                                <option value="17">패치</option>
                                <option value="18">클렌징폼/젤</option>
                                <option value="19">오일/밤</option>
                                <option value="20">워터/티슈/밀크</option>
                                <option value="21">필링/스크럽</option>
                                <option value="22">립&아이리무버</option>
                                <option value="23">선블록</option>
                                <option value="24">태닝/애프터선</option>

                            </select>
                        </li>
                    </div>
                    <hr>
                    <li>
                        <label for="nameGroup">제품이름<strong>(필수)</strong></label>
                        <input class="form-contorl" type="text" id="nameGroup" name="name" required>
                    </li>
                    <hr>
                    <li>
                        <label for="details">상세내용</label>
                        <textarea class="form-contorl" type="textarea" cols="50" rows="4"  id="details" name="details" required>
                                </textarea>
                        <hr>


                    <li>
                        <label for="weight">내용물의 용량 또는 중량</label>
                        <input class="form-contorl" type="text" id="weight" name="weight" required >
                        <span>mL</span>
                    </li>
                    <hr>
                    <li>
                        <label for="summary">제품개요(사용범위)</label>
                        <input class="form-contorl" type="text" id="summary" name="summary" required>
                    </li>
                    <hr>
                    <li>
                        <label for="period">사용기간(개봉 후 사용기간)</label>
                        <input class="form-contorl" type="text" id="period" name="period" required>
                    </li>
                    <hr>
                    <li>
                        <label for="manual">사용방법</label>
                        <input class="form-contorl" type="text" id="manual" name="manual" required>
                    </li>
                    <hr>

                    <li>
                        <label for="manufacturer">판매업자/제조업자</label>
                        <input class="form-contorl" type="text" id="manufacturer" name="manufacturer" required>
                    </li>
                    <hr>
                    <li>
                        <label for="country">제조국</label>
                        <input class="form-contorl" type="text" id="country" name="country" required>
                    </li>
                    <hr>
                    <li>
                        <label for="precautions">주의사항</label>
                        <input class="form-contorl" type="text" id="precautions" name="precautions" required>
                    </li>
                    <hr>
                    <li>
                        <label for="assurance">품질보증기준</label>
                        <input class="form-contorl" type="text" id="assurance" name="assurance" required>
                    </li>
                    <hr>
                    <li>
                        <label for="counselor_phone_number">소비자상담전화번호</label>
                        <input class="form-contorl" type="text" id="counselor_phone_number" name="counselor_phone_number" required>
                    </li>
                    <hr>
                    <li>
                        <label for="sale_count">판매량</label>
                        <input class="form-contorl" type="number" id="sale_count" name="sale_count" required>
                        <span>개</span>
                    </li>
                    <hr>
                    <li>
                        <label for="company">회사명</label>
                        <input class="form-contorl" type="text" id="company" name="company" required>
                    </li>
                    <hr>
                    <li>
                        <label for="pricegroup">가격</label>
                        <input class="form-contorl" type="number" id="pricegroup" name="price_group" required>
                        <span>원</span>
                    </li>
                    <hr>
                    <li>
                        <label for="repImgSrc">이미지</label>
                        <input class="form-contorl" type="file" id="repImgSrc" name="rep_img_src" required>
                    </li>
                </ul>
            </fieldset>


            <!-----------------------------Img 파트--------------------->
            <fieldset>

                <legend id="container_img"><h1>상품설명 이미지<strong>상품이미지 (다수)</strong> </h1></legend>
                <ul id="add_img" autocapitalize="off">
                    <!--                    <li>-->
                    <!--                        <label for="img_tb">이미지일련번호</label>-->
                    <!--                        <input class="form-contorl" type="number" id="img_tb" name="imgId" required>-->
                    <!--                    </li>-->
                    <hr>
                    <!--                    <li>-->
                    <!--                        <label for="product_group_id1" >상품그룹 <strong></strong></label>-->
                    <!--                        <select class="form-contorl" id="product_group_id1" name="product_group_id" required>-->
                    <!--                            <option value="1" selected>헤어</option>-->
                    <!--                            <option value="2">스킨케어</option>-->
                    <!--                            <option value="3">마스크팩</option>-->
                    <!--                            <option value="4">클렌징</option>-->
                    <!--                            <option value="5">썬케어</option>-->
                    <!--                        </select>-->
                    <!--                    </li>-->
                    <!--                    <hr>-->

                    <li>
                        <label for="src">링크</label>
                        <input class="form-contorl" type="file" id="src" name="src"   required >

                    </li>

                </ul>
            </fieldset>
            <hr>


            <!---------------------------Product 파트------------------------------------->
            <fieldset >

                <legend id="container_option"><h1>제품상세<strong>(옵션)</strong></h1><span>
                    <button type="button" onclick="addOptionFieldset()" id="addOptionalProduct">상품옵션 추가</button></span></legend>
                <ul id="optionalProducts" autocapitalize="off">
                    <hr>
                    <!--                    <div>-->
                    <!--                        <li>-->
                    <!--                            <label for="product_id">제품일련번호</label>-->
                    <!--                            <input class="form-contorl" type="text" id="product_id" name="product_id" >-->

                    <!--                        </li>-->
                    <!--                    </div>-->

                    <!--                    <hr>-->
                    <!--                    <li>-->
                    <!--                        <label for="productGroupId">제품그룹일련번호</label>-->
                    <!--                        <select class="form-contorl" id="productGroupId" name="product_group_id" required>-->
                    <!--                            <option value="1" selected>헤어</option>-->
                    <!--                            <option value="2">스킨케어</option>-->
                    <!--                            <option value="3">마스크팩</option>-->
                    <!--                            <option value="4">클렌징</option>-->
                    <!--                            <option value="5">썬케어</option>-->
                    <!--                        </select>-->
                    <!--                    </li>-->
                    <!--                    <hr>-->
                    <li>
                        <label for="price">가격</label>
                        <input class="form-contorl" type="number" id="price" name="price" >
                        <span>원</span>
                    </li>
                    <hr>
                    <li>
                        <label for="quantity">재고량</label>
                        <input class="form-contorl" type="number" id="quantity" name="quantity" >
                        <span>개</span>
                    </li>
                    <hr>
                    <li>
                        <label for="name">제품이름</label>
                        <input class="form-contorl" type="text" id="name" name="nameP" >
                    </li>
                    <hr>
                    <li>
                        <label for="imgSrc">이미지</label>
                        <input class="form-contorl" type="file" id="imgSrc" name="img_src"  >
                    </li>

                </ul>
            </fieldset>
            <hr>

            <!--            <fieldset >-->
            <!--                <legend id="container_option_add"></legend>-->
            <!--                &lt;!&ndash; 여기에 추가된 제품 옵션 입력 필드들이 추가될 것입니다. &ndash;&gt;-->
            <!--            </fieldset>-->
            <!--            <hr>-->

            <div>
                <input type="submit" value="등록하기">
                <input type="reset" value="취소하기">
            </div>


        </form>
    </main>

</div>



<!-- 정해지지 않은 푸터 -->
<footer>
    <div>뭐 넣을지 모름
        <p>
            to do...
        </p>
        카테고리 정렬, 체크박스 선택 ,주문 링크,
    </div>
</footer>

</div>


</body>

</html>