* {
    font-size: 13px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        /* "header header" */
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    width: 1020px;
    margin: auto;
    margin-top: 20px;
}

.grid-container-header {
    display: grid;
    /* grid-template-areas:
    "top_util"
    "header_inner"
    ; */

    /* grid-template-columns: 1fr 3fr; */
}

.top_util {
    width: 900px;
    height: 30px;
    text-align: right;
    margin: auto;
    /* grid-area: top_util; */
}

.top_util a {
    margin: 0px 0px 0px 4px;
}

.header_inner {
    /* grid-area: header_inner; */
    margin: auto;
    height: 90px;
    display: flex;

    /* grid-template-columns: auto 1fr; 로고와 검색창 열 생성 */
}

.header_inner img {
    width: 246px;
    height: 40px;
    margin-top: 15px;



}

header {
    height: 160px;
    grid-area: header;
    border-bottom: 2px solid black;

}


.grid-container-aside {
    /* display: grid; */
    width: 130px;
    float: left;
    /* 왼쪽 위치 */
    padding: 20px 0px 0px 5px;
    text-align: center;

}

.grid-container-main {
    display: grid;
    /* width: 100%; */
    float: right;
    /* 추가: 오른쪽에 위치 */
    padding: 20px 0px;


}

/* 관리자 목록 (사이드바) 부분만 리스트 표시 삭제 */

.admin-list li {
    list-style: none;
}


footer {
    height: 150px;
    grid-area: footer;
    background-color: #9999;
}

ul {
    line-height: 30px;
    padding: 0;

}


.cart1 {
    margin: -55px 0px 0px 90px;
}

.admin {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    margin: 0px 0px 0px 60px;
    padding: 15px 30px 0px 20px;
}


a {
    text-decoration-line: none;
}

a:link {
    color: black;

}

a:visited {
    color: black;
}

a:hover {}

a:active {
    color: green
}

h3 {
    padding-bottom: 30px;
}

#add {
    width: 600px;
    margin: 20px auto;
    float: inline-start;
}

#add li {
    text-decoration: none;
}

.form-contorl {
    display: block;
    width: 50%;
    border: 1px solid #ced4da;
}

#container {
    text-align: center;
    color: chocolate;
}

strong {
    color: red;
}
